# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
*sqlite3*
*.csv
media/
docx_templates/
# But allow default templates in fixtures
!diamond_web/fixtures/default_templates/
!diamond_web/fixtures/default_templates/*.docx
staticfiles/
local_settings.py

# Virtualenv
venv/
ENV/
env/
.venv/
.env/
.env
myenv/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
*,cover

# Migrations (optional, if you want to ignore them)
# **/migrations/*.pyc
# **/migrations/__pycache__/

packages/