{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Rekap Penghimpunan dan Pengolahan Data{% endblock %}

{% block content %}
<div class="page-header">
    <div class="page-header-left d-flex align-items-center">
        <!-- <div class="page-header-title">
            <h5 class="m-b-10">
                <i class="feather-bar-chart-2 me-2"></i>Rekap Penghimpunan dan Pengolahan Data
            </h5>
            <p class="text-muted mb-0">Informasi IPC Penghimpunan Data yang telah disampaikan ke AP</p>
        </div> -->
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Laporan</a></li>
            <li class="breadcrumb-item active">Rekap Penghimpunan dan Pengolahan Data</li>
        </ul>
    </div>
    <div class="page-header-right ms-auto">
        <div class="page-header-right-items">
            <div class="d-flex d-md-none">
                <a href="javascript:void(0)" class="page-header-right-close-toggle">
                    <i class="feather-arrow-left me-2"></i>
                    <span>Kembali</span>
                </a>
            </div>
        </div>
        <div class="d-md-none d-flex align-items-center">
            <a href="javascript:void(0)" class="page-header-right-open-toggle">
                <i class="feather-align-right fs-20"></i>
            </a>
        </div>
    </div>
</div>

<div class="main-content">
    <!-- Filter Card -->
    <div class="card shadow-sm mb-3">
        <div class="card-body">
            <h5 class="m-b-10">
                <!-- <i class="feather-bar-chart-2 me-2"></i> -->
                Rekap Penghimpunan dan Pengolahan Data
            </h5>
            <p class="text-muted mb-0">Informasi IPC Penghimpunan Data yang telah disampaikan ke AP</p>
            <form action="#" method="GET">
                                        <!-- Row Filter Utama -->
                                        <div class="row">
                                            <!-- Kolom Kiri -->
                                            <div class="col-md-6">
                                                <div class="row mb-3 align-items-center">
                                                    <label class="col-sm-4 col-form-label fs-12 text-muted">Kategori ILAP</label>
                                                    <div class="col-sm-8">
                                                        <select id="filter-kategori-ilap" class="form-select form-select-sm border-gray-200 fs-12 text-muted" disabled>
                                                            <option value="">Pilih Kategori ILAP</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 align-items-center">
                                                    <label class="col-sm-4 col-form-label fs-12 text-muted">Nama ILAP</label>
                                                    <div class="col-sm-8">
                                                        <select id="filter-ilap" class="form-select form-select-sm border-gray-200 fs-12 text-muted">
                                                            <option value="">Pilih ILAP</option>
                                                            {% for ilap in filter_options.ilap %}
                                                            <option value="{{ ilap.id }}">{{ ilap.deskripsi }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 align-items-center">
                                                    <label class="col-sm-4 col-form-label fs-12 text-muted">Jenis Data</label>
                                                    <div class="col-sm-8">
                                                        <select id="filter-jenis-data" class="form-select form-select-sm border-gray-200 fs-12 text-muted" disabled>
                                                            <option value="">Pilih Jenis Data</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 align-items-center">
                                                    <label class="col-sm-4 col-form-label fs-12 text-muted">Subjenis Data</label>
                                                    <div class="col-sm-8">
                                                        <select id="filter-subjenis-data" class="form-select form-select-sm border-gray-200 fs-12 text-muted" disabled>
                                                            <option value="">Pilih Subjenis Data</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <!-- Kolom Kanan -->
                                            <div class="col-md-6">
                                                <div class="row mb-3 align-items-center">
                                                    <label class="col-sm-4 col-form-label fs-12 text-muted">Dasar Hukum</label>
                                                    <div class="col-sm-8">
                                                        <select id="filter-periode-data" class="form-select form-select-sm border-gray-200 fs-12 text-muted" disabled>
                                                            <option value="">Pilih Dasar Hukum</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 align-items-center">
                                                    <label class="col-sm-4 col-form-label fs-12 text-muted">Periode Pelaporan</label>
                                                    <div class="col-sm-8">
                                                        <select id="filter-periode-pengiriman" class="form-select form-select-sm border-gray-200 fs-12 text-muted" disabled>
                                                            <option value="">Tanggal Mulai</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 align-items-center">
                                                    <label class="col-sm-4 col-form-label fs-12 text-muted"></label>
                                                    <div class="col-sm-8">
                                                        <select id="filter-media-backup" class="form-select form-select-sm border-gray-200 fs-12 text-muted" disabled>
                                                            <option value="">Tanggal Selesai</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 align-items-center">
                                                    <label class="col-sm-4 col-form-label fs-12 text-muted">Nama Tabel</label>
                                                    <div class="col-sm-8">
                                                        <select id="filter-pic-p3de" class="form-select form-select-sm border-gray-200 fs-12 text-muted" disabled>
                                                            <option value="">Pilih Nama Tabel</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Bagian Tombol Aksi -->
                                        <div class="d-flex flex-wrap align-items-center justify-content-between mt-4 pt-3 border-top border-gray-100">
                                            <!-- Tombol Ekspor -->
                                            <div class="d-flex gap-2">
                                                <button type="button" id="btn-export-excel" class="btn btn-sm btn-outline-success d-flex align-items-center gap-2 fs-11 fw-bold">
                                                    <i class="feather-file-text"></i> EKSPOR KE EXCEL
                                                </button>
                                                <button type="button" id="btn-export-pdf" class="btn btn-sm btn-outline-danger d-flex align-items-center gap-2 fs-11 fw-bold">
                                                    <i class="feather-file-text"></i> EKSPOR KE PDF
                                                </button>
                                            </div>

                                            <!-- Tombol Filter & Cari -->
                                            <div class="d-flex align-items-center gap-3">
                                                <a href="#" id="btn-clear-filter" class="btn border-0 text-primary text-decoration-none p-0 fw-bold">
                                                    <i class="feather-x me-2"></i> Hapus Filter
                                                </a>
                                                
                                                <button type="button" id="btn-search" class="btn btn-primary"><i class="feather-search me-1"></i>Cari</button>
                                            </div>
                                        </div>
                                    </form>
            

        </div>
    </div>

    

    <!-- Data Table Card -->
    <div class="card stretch stretch-full h-100">
        
        <div class="card-body custom-card-action p-0">
            <div class="table-responsive">
                <table id="rekap-himpun-olah-table" data-skip-empty-state class="table table-hover mb-0" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 50px;">NO</th>
                            <th>KATEGORI ILAP</th>
                            <th>NAMA ILAP</th>
                            <th>JENIS DATA WAJIB</th>
                            <th>JENIS DATA KIRIM</th>
                            <th>JENIS DATA TEPAT WAKTU</th>
                            <th>JENIS DATA LENGKAP</th>
                            <th>PERSENTASE KIRIM</th>
                            <th>PERSENTASE TEPAT WAKTU</th>
                            <th>PERSENTASE LENGKAP</th>
                            <th>JUMLAH DATA KIRIM</th>
                            <th>JUMLAH DATA LENGKAP</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>KATEGORI ILAP</td>
                            <td>NAMA ILAP</td>
                            <td>JENIS DATA WAJIB</td>
                            <td>JENIS DATA KIRIM</td>
                            <td>JENIS DATA TEPAT WAKTU</td>
                            <td>JENIS DATA LENGKAP</td>
                            <td>PERSENTASE KIRIM</td>
                            <td>PERSENTASE TEPAT WAKTU</td>
                            <td>PERSENTASE LENGKAP</td>
                            <td>JUMLAH DATA KIRIM</td>
                            <td>JUMLAH DATA LENGKAP</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
